.cadastro-form {
    background: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 320px;
    margin-top: 25%;
}

.h1-right {
    color: #3C3E40 !important;
    font-size: 1.4rem !important;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
}

.cadastro-form h2 {
    margin-bottom: 5px;
}

.cadastro-form input {
    background: #D9D9D9;
    border: none;
    border-radius: 14px;
    padding: 16px 18px;
    font-size: 1.1rem;
    color: #3C3E40;
    outline: none;
    transition: box-shadow 0.2s;

}

.cadastro-form input:focus {
    box-shadow: 0 0 0 2px #D97904;
}

.cadastro-form button {
    background: #D97904;
    color: #fff;
    border: none;
    border-radius: 14px;
    padding: 16px 0;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.cadastro-form button:hover {
    background: #b86a0a;
}