.carrinho-container {
    height: 100%;
    overflow-y: auto;
}

.carrinho-header {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: center;
}

.carrinho-lista {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    row-gap: 20px;
    width: 53vw;
    max-height: 70vh;
    margin: 0 auto;
}

.carrinho-card {
    display: flex;
    align-items: center;
    background: #cccccc;
    border-radius: 16px;
    width: 97%;
    min-height: 120px;
    padding: 0 0 0 18px;
    gap: 18px;
    box-shadow: none;
}

.carrinho-card-img {
    border-radius: 10px;
    width: 70px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.carrinho-card-img img {
    width: 100%;
    height: 100%;
}

.carrinho-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 2px;
    font-weight: bold;
}

.carrinho-card-title {
    font-size: 1.08rem;
    color: #222;
}

.carrinho-card-price {
    font-size: 0.98rem;
    color: #444;
}

.carrinho-card-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    gap: 15px;
    margin-right: 30px;
}

.carrinho-card-sum {
    font-weight: normal;
    color: #222;
    font-size: 1.01rem;
}

.carrinho-card-size {
    width: 70pX;
    border-radius: 25px;
    background-color: #D97904;
    font-weight: bold;
    text-align: center;
}

.carrinho-trash-form {
    margin: 0;
}

.carrinho-trash-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.carrinho-trash-btn img {
    width: 25px;
    height: 25px;
}

.carrinho-card-actions-vertical {
    background: #D97904;
    border-radius: 0 16px 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7%;
    height: 120px;
}

.qtd-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: background 0.2s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    outline: none;
}

.qtd-btn:hover {
    background: #b86a0a;
    color: #fff;
}

.carrinho-busca-group {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 51vw;
    height: 50px;
    margin: 32px auto 12px auto;
}

.carrinho-busca-group .carrinho-button {
    font-size: 1rem;
    border-radius: 8px;
    margin: 0;
}

.carrinho-button {
    background: #D97904;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.18rem;
    font-weight: bold;
    margin: 0 auto 0 auto;
    padding: 8px 38px;
    display: block;
    transition: background 0.2s;
    text-decoration: none;
    white-space: nowrap;
}

.carrinho-button:hover {
    background: #b86a0a;
}

.carrinho-valor-total {
    background: #D9D9D9;
    border-radius: 18px;
    width: 47vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: 30px auto;
    font-size: 1.2rem;
}

.total-label {
    font-weight: bold;
    color: #333;
}

.total-valor {
    font-weight: bold;
    color: #D97904;
}


.carrinho-button.finalizar {
    margin-bottom: 50px;
}