body {
    margin: 0;
    padding: 0;
    background: #F2F2F2;
    font-family: 'Segoe UI', Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.form-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    z-index: 2;
}

.h1-left {
    color: #F2F2F2 !important;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    z-index: 3;
    margin-top: 25vh;
    text-align: left;
}

.h1-right {
    color: #3C3E40 !important;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
}

.settings-icon {
    position: fixed;
    top: 72px;
    z-index: 1000;
}

.settings-icon img {
    width: 51px;
    height: 51px;
    cursor: pointer;
}

.settings-icon.left {
    left: 45px;
}

.settings-icon.right {
    right: 45px;
    display: flex;
    gap: 30px;
}

@media (max-width: 1000px) {
    .form-main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

}